<h1>Landing Page by topic </h1>



<div class="panel panel-default">
  <div class="panel-heading"> Research has discovered better outcomes when these conversations occur face-to-face.<br> <i>How would you like to proceed?</i> </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to "I will have this discussion in person.",  "article", class: "btn btn-default btn-lg" %></li>
      <li role="presentation"><%= link_to "I will still continue over the phone.",  "article", class: "btn btn-default btn-lg" %></li>
    </ul>
  </div>
</div>
