<h1>Landing Page by topic </h1>
<p> Page (1/?) </p>


  <div class="panel panel-default">
    <div class="panel-heading">What do you want to talk about? </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to "Gender?",  "roles", class: "btn btn-default btn-lg" %></li>
        <li role="presentation"><%= link_to "Race?",  "roles", class: "btn btn-default btn-lg" %></li>
        <li role="presentation"><%= link_to "Relationships?",  "roles", class: "btn btn-default btn-lg" %></li>
        <li role="presentation"><%= link_to "Politics?",  "roles", class: "btn btn-default btn-lg" %></li>
      </ul>
    </div>
  </div>
